#yizezubutton{
    margin-top: 200px;
    text-align: center;
    margin-left: 200px;
     background-color: rgb(44, 239, 22);
    width: 80px;
    height: 40px;
    border: 2px solid rgb(15, 37, 235);
    border-radius: 19px;
    font-size: large;
}
#yiyazubutton{
    margin-top: 150px;
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
     background-color: rgb(44, 239, 22);
    width: 80px;
    height: 40px;
    border: 2px solid rgb(15, 37, 235);
    border-radius: 19px;
    font-size: large;
}
#yikfelubutton{
    margin-top: 120px;
    text-align: center;
    margin-left: 140px;
     background-color: rgb(44, 239, 22);
    width: 80px;
    height: 40px;
    border: 2px solid rgb(15, 37, 235);
    border-radius: 19px;
    font-size: large;
}